<form #customerForm="ngForm" (ngSubmit)="onSubmit()">
  <h2>Add Customer</h2>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="newCustomer.name"
      required
    />
  </div>
  <div class="form-group">
    <label for="number">Phone Number</label>
    <input
      type="tel"
      id="number"
      name="number"
      [(ngModel)]="newCustomer.number"
      required
    />
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input
      type="date"
      id="dob"
      name="dob"
      [(ngModel)]="newCustomer.dateOfBirth"
    />
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select id="gender" name="gender" [(ngModel)]="newCustomer.gender">
      <option *ngFor="let gender of genders">{{ gender }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Create Customer</button>
</form>
